<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.summerclub.mapper.CampMapper" >
  <resultMap id="BaseResultMap" type="com.example.summerclub.pojo.Camp" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="blanck_space_one" property="blanckSpaceOne" jdbcType="VARCHAR" />
    <result column="blanck_space_three" property="blanckSpaceThree" jdbcType="VARCHAR" />
    <result column="blanck_space_two" property="blanckSpaceTwo" jdbcType="VARCHAR" />
    <result column="camp_file_url" property="campFileUrl" jdbcType="VARCHAR" />
    <result column="camp_name" property="campName" jdbcType="VARCHAR" />
    <result column="camp_news_ifo" property="campNewsIfo" jdbcType="VARCHAR" />
    <result column="camp_news_title" property="campNewsTitle" jdbcType="VARCHAR" />
    <result column="camp_news_url" property="campNewsUrl" jdbcType="VARCHAR" />
    <result column="camp_status" property="campStatus" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, blanck_space_one, blanck_space_three, blanck_space_two, camp_file_url, camp_name, 
    camp_news_ifo, camp_news_title, camp_news_url, camp_status, end_time, user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.summerclub.pojo.CampExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from camp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from camp
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from camp
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.summerclub.pojo.CampExample" >
    delete from camp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.summerclub.pojo.Camp" >
    insert into camp (id, blanck_space_one, blanck_space_three, 
      blanck_space_two, camp_file_url, camp_name, 
      camp_news_ifo, camp_news_title, camp_news_url, 
      camp_status, end_time, user_id
      )
    values (#{id,jdbcType=BIGINT}, #{blanckSpaceOne,jdbcType=VARCHAR}, #{blanckSpaceThree,jdbcType=VARCHAR}, 
      #{blanckSpaceTwo,jdbcType=VARCHAR}, #{campFileUrl,jdbcType=VARCHAR}, #{campName,jdbcType=VARCHAR}, 
      #{campNewsIfo,jdbcType=VARCHAR}, #{campNewsTitle,jdbcType=VARCHAR}, #{campNewsUrl,jdbcType=VARCHAR}, 
      #{campStatus,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.summerclub.pojo.Camp" >
    insert into camp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blanckSpaceOne != null" >
        blanck_space_one,
      </if>
      <if test="blanckSpaceThree != null" >
        blanck_space_three,
      </if>
      <if test="blanckSpaceTwo != null" >
        blanck_space_two,
      </if>
      <if test="campFileUrl != null" >
        camp_file_url,
      </if>
      <if test="campName != null" >
        camp_name,
      </if>
      <if test="campNewsIfo != null" >
        camp_news_ifo,
      </if>
      <if test="campNewsTitle != null" >
        camp_news_title,
      </if>
      <if test="campNewsUrl != null" >
        camp_news_url,
      </if>
      <if test="campStatus != null" >
        camp_status,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="blanckSpaceOne != null" >
        #{blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceThree != null" >
        #{blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceTwo != null" >
        #{blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="campFileUrl != null" >
        #{campFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="campName != null" >
        #{campName,jdbcType=VARCHAR},
      </if>
      <if test="campNewsIfo != null" >
        #{campNewsIfo,jdbcType=VARCHAR},
      </if>
      <if test="campNewsTitle != null" >
        #{campNewsTitle,jdbcType=VARCHAR},
      </if>
      <if test="campNewsUrl != null" >
        #{campNewsUrl,jdbcType=VARCHAR},
      </if>
      <if test="campStatus != null" >
        #{campStatus,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.summerclub.pojo.CampExample" resultType="java.lang.Integer" >
    select count(*) from camp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update camp
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.blanckSpaceOne != null" >
        blanck_space_one = #{record.blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="record.blanckSpaceThree != null" >
        blanck_space_three = #{record.blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="record.blanckSpaceTwo != null" >
        blanck_space_two = #{record.blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.campFileUrl != null" >
        camp_file_url = #{record.campFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.campName != null" >
        camp_name = #{record.campName,jdbcType=VARCHAR},
      </if>
      <if test="record.campNewsIfo != null" >
        camp_news_ifo = #{record.campNewsIfo,jdbcType=VARCHAR},
      </if>
      <if test="record.campNewsTitle != null" >
        camp_news_title = #{record.campNewsTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.campNewsUrl != null" >
        camp_news_url = #{record.campNewsUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.campStatus != null" >
        camp_status = #{record.campStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update camp
    set id = #{record.id,jdbcType=BIGINT},
      blanck_space_one = #{record.blanckSpaceOne,jdbcType=VARCHAR},
      blanck_space_three = #{record.blanckSpaceThree,jdbcType=VARCHAR},
      blanck_space_two = #{record.blanckSpaceTwo,jdbcType=VARCHAR},
      camp_file_url = #{record.campFileUrl,jdbcType=VARCHAR},
      camp_name = #{record.campName,jdbcType=VARCHAR},
      camp_news_ifo = #{record.campNewsIfo,jdbcType=VARCHAR},
      camp_news_title = #{record.campNewsTitle,jdbcType=VARCHAR},
      camp_news_url = #{record.campNewsUrl,jdbcType=VARCHAR},
      camp_status = #{record.campStatus,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.summerclub.pojo.Camp" >
    update camp
    <set >
      <if test="blanckSpaceOne != null" >
        blanck_space_one = #{blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceThree != null" >
        blanck_space_three = #{blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceTwo != null" >
        blanck_space_two = #{blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="campFileUrl != null" >
        camp_file_url = #{campFileUrl,jdbcType=VARCHAR},
      </if>
      <if test="campName != null" >
        camp_name = #{campName,jdbcType=VARCHAR},
      </if>
      <if test="campNewsIfo != null" >
        camp_news_ifo = #{campNewsIfo,jdbcType=VARCHAR},
      </if>
      <if test="campNewsTitle != null" >
        camp_news_title = #{campNewsTitle,jdbcType=VARCHAR},
      </if>
      <if test="campNewsUrl != null" >
        camp_news_url = #{campNewsUrl,jdbcType=VARCHAR},
      </if>
      <if test="campStatus != null" >
        camp_status = #{campStatus,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.summerclub.pojo.Camp" >
    update camp
    set blanck_space_one = #{blanckSpaceOne,jdbcType=VARCHAR},
      blanck_space_three = #{blanckSpaceThree,jdbcType=VARCHAR},
      blanck_space_two = #{blanckSpaceTwo,jdbcType=VARCHAR},
      camp_file_url = #{campFileUrl,jdbcType=VARCHAR},
      camp_name = #{campName,jdbcType=VARCHAR},
      camp_news_ifo = #{campNewsIfo,jdbcType=VARCHAR},
      camp_news_title = #{campNewsTitle,jdbcType=VARCHAR},
      camp_news_url = #{campNewsUrl,jdbcType=VARCHAR},
      camp_status = #{campStatus,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>