<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.summerclub.mapper.EntryItemMapper" >
  <resultMap id="BaseResultMap" type="com.example.summerclub.pojo.EntryItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="blanck_space_one" property="blanckSpaceOne" jdbcType="VARCHAR" />
    <result column="blanck_space_three" property="blanckSpaceThree" jdbcType="VARCHAR" />
    <result column="blanck_space_two" property="blanckSpaceTwo" jdbcType="VARCHAR" />
    <result column="camp_head_count" property="campHeadCount" jdbcType="INTEGER" />
    <result column="camp_id" property="campId" jdbcType="BIGINT" />
    <result column="given_name" property="givenName" jdbcType="VARCHAR" />
    <result column="grades" property="grades" jdbcType="VARCHAR" />
    <result column="grammer_school" property="grammerSchool" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, age, blanck_space_one, blanck_space_three, blanck_space_two, camp_head_count, 
    camp_id, given_name, grades, grammer_school, phone_number, sex, status, user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.summerclub.pojo.EntryItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from entry_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from entry_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from entry_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.summerclub.pojo.EntryItemExample" >
    delete from entry_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.summerclub.pojo.EntryItem" >
    insert into entry_item (id, age, blanck_space_one, 
      blanck_space_three, blanck_space_two, camp_head_count, 
      camp_id, given_name, grades, 
      grammer_school, phone_number, sex, 
      status, user_id)
    values (#{id,jdbcType=BIGINT}, #{age,jdbcType=INTEGER}, #{blanckSpaceOne,jdbcType=VARCHAR}, 
      #{blanckSpaceThree,jdbcType=VARCHAR}, #{blanckSpaceTwo,jdbcType=VARCHAR}, #{campHeadCount,jdbcType=INTEGER}, 
      #{campId,jdbcType=BIGINT}, #{givenName,jdbcType=VARCHAR}, #{grades,jdbcType=VARCHAR}, 
      #{grammerSchool,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.summerclub.pojo.EntryItem" >
    insert into entry_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="blanckSpaceOne != null" >
        blanck_space_one,
      </if>
      <if test="blanckSpaceThree != null" >
        blanck_space_three,
      </if>
      <if test="blanckSpaceTwo != null" >
        blanck_space_two,
      </if>
      <if test="campHeadCount != null" >
        camp_head_count,
      </if>
      <if test="campId != null" >
        camp_id,
      </if>
      <if test="givenName != null" >
        given_name,
      </if>
      <if test="grades != null" >
        grades,
      </if>
      <if test="grammerSchool != null" >
        grammer_school,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="blanckSpaceOne != null" >
        #{blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceThree != null" >
        #{blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceTwo != null" >
        #{blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="campHeadCount != null" >
        #{campHeadCount,jdbcType=INTEGER},
      </if>
      <if test="campId != null" >
        #{campId,jdbcType=BIGINT},
      </if>
      <if test="givenName != null" >
        #{givenName,jdbcType=VARCHAR},
      </if>
      <if test="grades != null" >
        #{grades,jdbcType=VARCHAR},
      </if>
      <if test="grammerSchool != null" >
        #{grammerSchool,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.summerclub.pojo.EntryItemExample" resultType="java.lang.Integer" >
    select count(*) from entry_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update entry_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.blanckSpaceOne != null" >
        blanck_space_one = #{record.blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="record.blanckSpaceThree != null" >
        blanck_space_three = #{record.blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="record.blanckSpaceTwo != null" >
        blanck_space_two = #{record.blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.campHeadCount != null" >
        camp_head_count = #{record.campHeadCount,jdbcType=INTEGER},
      </if>
      <if test="record.campId != null" >
        camp_id = #{record.campId,jdbcType=BIGINT},
      </if>
      <if test="record.givenName != null" >
        given_name = #{record.givenName,jdbcType=VARCHAR},
      </if>
      <if test="record.grades != null" >
        grades = #{record.grades,jdbcType=VARCHAR},
      </if>
      <if test="record.grammerSchool != null" >
        grammer_school = #{record.grammerSchool,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNumber != null" >
        phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update entry_item
    set id = #{record.id,jdbcType=BIGINT},
      age = #{record.age,jdbcType=INTEGER},
      blanck_space_one = #{record.blanckSpaceOne,jdbcType=VARCHAR},
      blanck_space_three = #{record.blanckSpaceThree,jdbcType=VARCHAR},
      blanck_space_two = #{record.blanckSpaceTwo,jdbcType=VARCHAR},
      camp_head_count = #{record.campHeadCount,jdbcType=INTEGER},
      camp_id = #{record.campId,jdbcType=BIGINT},
      given_name = #{record.givenName,jdbcType=VARCHAR},
      grades = #{record.grades,jdbcType=VARCHAR},
      grammer_school = #{record.grammerSchool,jdbcType=VARCHAR},
      phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.summerclub.pojo.EntryItem" >
    update entry_item
    <set >
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="blanckSpaceOne != null" >
        blanck_space_one = #{blanckSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceThree != null" >
        blanck_space_three = #{blanckSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="blanckSpaceTwo != null" >
        blanck_space_two = #{blanckSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="campHeadCount != null" >
        camp_head_count = #{campHeadCount,jdbcType=INTEGER},
      </if>
      <if test="campId != null" >
        camp_id = #{campId,jdbcType=BIGINT},
      </if>
      <if test="givenName != null" >
        given_name = #{givenName,jdbcType=VARCHAR},
      </if>
      <if test="grades != null" >
        grades = #{grades,jdbcType=VARCHAR},
      </if>
      <if test="grammerSchool != null" >
        grammer_school = #{grammerSchool,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.summerclub.pojo.EntryItem" >
    update entry_item
    set age = #{age,jdbcType=INTEGER},
      blanck_space_one = #{blanckSpaceOne,jdbcType=VARCHAR},
      blanck_space_three = #{blanckSpaceThree,jdbcType=VARCHAR},
      blanck_space_two = #{blanckSpaceTwo,jdbcType=VARCHAR},
      camp_head_count = #{campHeadCount,jdbcType=INTEGER},
      camp_id = #{campId,jdbcType=BIGINT},
      given_name = #{givenName,jdbcType=VARCHAR},
      grades = #{grades,jdbcType=VARCHAR},
      grammer_school = #{grammerSchool,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>